<% provide(:title,'About Us') %>

<h1> About Us </h1>
<p>
	I like big butts and I cannot lie, you other brothers can't deny. When a girl walks in with an itty bitty waist and that round thing in your face you get SPPRUUNNGGGG.. BLAH BLAH 
</p>
