
<h1>CeFam Online Database Application</h1>

<div class="center hero-unit">
  <h1>The Center for Family Ministries Online Database Application</h1>

  <h2>
    Welcome! This is the homepage for the application.
  </h2>
  <p>
  	Please login with your account to proceed.
  </p>

  <%= link_to "Sign in!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", align: "right", alt: "Rails"), 'http://rubyonrails.org/' %> <br>