<% for attribute in @individual.attributes.keys %>
  <% x=@individual.attributes[attribute]%>
  <p><%= attribute.humanize if x!=nil%> <%= x.to_s if x!=nil %></p>
<% end %>

<%= link_to "edit", edit_individual_path(@individual)%>