
<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">CSS & HTML Template</a>
    by Michael Hartl
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Devs", about_path %></li>
      <li><%= link_to "Contact Us", contact_path %></li> <br>
      <li>Created with <a href="http://rubyonrails.org/">Ruby on Rails</a></li>
    </ul>
  </nav>
</footer>